@import 'https://fonts.googleapis.com/css?family=Raleway';
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&family=Style+Script&display=swap');

body{
	background-image: url("../images/blog_bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
  font-family: 'Lora', serif;
}

#intro {
    background-image: url("../images/r2.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#intro1 {
    background-color:rgb(0,0,0,0.5);
    padding:2rem;

	display: block;
	margin-left: auto;
	margin-right: auto;
    
}
.line{
 color: white;
}

#mask1{
	height:100vh

}

.discription3, .discription2, .discription1{
	font-family: 'Style Script', cursive;
	color:rgb(255,255,255,0.8);
}

.button0 {
  border: none;
  color: white;
  padding: 10px 20px;

  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.lnum{
  margin-left:1rem;
  margin-right: 1rem;
}

.button0 {
  background-color: Transparent; 
  color: white; 
  border: 2px solid;
  border-radius: 5px;
  margin-right: 2%;
  margin-left: 2%;
  font-size: 18px;
}

.button0:hover {
  background-color: white;
  color: black;
}
.button4{
  float: right;
  position: fixed-bottom;

}


#menu{
/*    background-image: url("images/r5.jfif");
    height: 83vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}
.card-text{
	font-size: 1rem;
}
#discription{
	font-size: 20px;
  font-family: "Brush Script MT", cursive;

}



.discription1{
  font-size: 100px;
  font-family: 'Style Script', cursive;

}
.discription2{
    font-family: 'Lora', serif;
	margin-top: 3rem;
	font-size:1rem;
    width: 85%;
    margin-left: 5rem;

}
.discription3{
    font-size: 80px;
      width: 85%;
    margin-left: auto;
    margin-right: auto;

}
.rate{
  font-size: 25px;
}

.edit{
	float: right;
}
#price1, #price2, #price3, #price4, #price5, #price6, #price7, #price8{
    align-items: center;
}



.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
  background-color: #f1f1f1;
  width: 49%;
  margin-right: 0.25%;
  margin-left: 0.25%;


}

.flex-item-left {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 25%;
}

.flex-item-middle {

  padding: 10px;
  flex: 55%;
}
.flex-item-right {

  padding: 10px;
  flex: 20%;
}

.control-label{
  font-size: 20px;
}


.checked {
  color: orange;
}

.comment{
  margin-left: 10%;

}
.card-text.t{
      font-size:16px;
    font-weight: bold;
    font-family: Copperplate, Papyrus, fantasy;
}
.card-text.n{
      font-size:13px;
    font-weight: bold;
    font-family: Copperplate, Papyrus, fantasy;
}


.thumbs{
  float: right;
  font-size: 18px;
  margin-bottom: 0.5rem;
  margin-right: 2rem;

  }

.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    color: white;
    border-bottom: 1px dotted #ccc;
}

img{
	object-fit: cover;
}
