@import 'https://fonts.googleapis.com/css?family=Raleway';
/* Border X get width  
https://codepen.io/EvyatarDa/pen/waKXMd?editors=1100*/

div.borderXwidth .nav_item:before, div.borderXwidth .nav_item:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: rgba(255,255,255,0.8);;
    transition: all 0.3s;
}

div.borderXwidth .nav_item:before
{
    left: 0px;
    top: 0px;
}

div.borderXwidth .nav_item:after
{
    right: 0px;
    bottom: 0px;
}

div.borderXwidth .nav_item:hover:before, div.borderXwidth .nav_item:hover:after
{
    opacity: 1;
    width: 100%;
}

#searchQueryInput{
  text-align: center;
}
.navbar
{
    font-family: Raleway;
	text-align: center;
	position:relative;
}

div.box
{
    font-family: Raleway;
    margin: 0 auto;
	width: 100%;
	padding:1rem;
	text-align: center;
}

div.box .nav_item
{
    color: rgba(255,255,255,0.8);
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.grey
{
    background: rgba(0,0,0,0.5);
}



/* Dropdown Button */
.dropbtn {
  background-color: rgba(0,0,0,0);
  color: rgba(255,255,255,0.8);
  border: none;
  font-size: 20px;
  margin: 0px 10px;
  padding: 10px 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  float:right;
}

/* Dropdown Content (Hidden by Default) W3SCHOOL */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.4);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
  padding:0px;
  margin:0px;
  right: -1rem; 
}

/* Links inside the dropdown */
.dropdown-content a {
  text-decoration: none;
  display:block;
  text-align: center;
  
}

/* Change color of dropdown links on hover 
.dropdown-content a:hover {
	background-color: rgba(0,0,0,0.6);
}
*/

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
	max-height:30vw;
	overflow:scroll; 
}

.left{
    float:left;
}


.right{
	float:right;
}

.profile{
	background-color:rgb(0,0,0,0);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 15vw;
	width: 10vw;
	padding: 0.5rem;
	margin: 0;
}

.profile .avatar{
	width:80%;
	border: 1px solid rosybrown;
	border-radius: 50%;
	padding: 7px;
}

.notif{
	background-color:rgb(0,0,0,0);
	width: 25vw;
	padding: 0.5rem;
	color:white;
	display: flex;
	margin: 0 auto;
	min-height: 5vw;
	overflow: hidden;
	border-bottom: 1px solid rgb(255,255,255,0.3);
	border-top: 1px solid rgb(255,255,255,0.3);
}

.notif .avatar{
	width: auto; 
	max-width: 60%;
	border: 1px solid rosybrown;
	border-radius: 50%;
	padding: 3px;
	justify-content: center;
}


/*Search bar from https://codepen.io/kmuenster/pen/XWWeQGw?editors=0110 */

.wrapper {
  width: 20rem;
  float:center;
  display: inline-block;
}


.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchQueryInput {
  width: 100%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  /*padding: 0 3.5rem 0 1.5rem;*/
  font-size: 1rem;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}